body{
    background-color: #E8F5E9;
}
.headbar{
    width: 100%;
    background-color: #CCFBD4;
    position: relative;
    display: inline-flex;
    border-bottom: solid #02542D 2px;
}
button{
    margin: 10px;
    border: hidden;
    background-color: #CCFBD4;
    font-family: Arial, Helvetica, sans-serif;
}