/* กล่อง login */
.form-box {
  background-color: #BEF885;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(9, 77, 9, 0.1);
}

/* ปุ่มสีเขียวเข้ม */
.btn-custom {
  background-color: #02542D;
  color: #FFFFFF;
  border: 2px solid #0f7041;
}

.btn-custom:hover {
  background-color: #014d25;
  color: #FFFFFF;
}
